In [2]:
import pandas as pd
data = pd.read_excel("./data/기간별 재직기간에 따른 퇴직연금.xlsx")

In [3]:
data

,연도,퇴직연금 인원(명),퇴직연금 지급액(천원),퇴직연금 평균 연금액(천원),유치원 및 초등학교,중학교,고등학교,전문대학,대학(교),특수학교
0,2007,25459,632029252,24825,18537.0,20434.0,41344.0,11777.0,37644.5,0.0
1,2008,28673,737736496,25729,20772.5,23514.0,46485.0,11798.5,39954.5,0.0
2,2009,31177,853753320,27384,21489.5,15544.5,35147.5,11193.5,41341.0,0.0
3,2010,34047,963938145,28312,23243.0,16573.5,34942.0,15039.0,51639.5,0.0
4,2011,36849,1073258368,29126,22343.0,16349.5,38859.0,13486.5,45286.0,0.0
5,2012,40116,1211764982,30207,22349.0,19522.5,41388.5,11962.5,36750.0,0.0
6,2013,43697,1360638334,31138,24710.5,20699.5,43584.0,9748.0,36782.0,0.0
7,2014,47782,1518038114,31770,25522.0,20950.5,50881.5,11705.0,37135.0,0.0
8,2015,53170,1729934786,32536,29879.0,31746.0,72993.0,13075.5,38137.0,0.0
9,2016,57084,1884692928,33016,32226.0,19200.5,53358.0,10950.0,35442.0,0.0
10,2017,61692,2043764926,33129,42420.0,22018.0,55724.0,12617.0,46878.5,1621.0
11,2018,67607,2235464787,33066,46671.0,24369.5,67127.5,15672.0,62485.5,2284.0
12,2019,73831,2461850638,33344,52669.0,27314.0,75069.5,16473.0,55777.5,3109.5

In [4]:
data_2=data.loc[:,["퇴직연금 지급액(천원)","유치원 및 초등학교","중학교","고등학교","전문대학","대학(교)","특수학교"]]

In [5]:
data_2.corr()

,퇴직연금 지급액(천원),유치원 및 초등학교,중학교,고등학교,전문대학,대학(교),특수학교
퇴직연금 지급액(천원),1.000000,0.937840,0.558267,0.845245,0.476015,0.495838,0.783947
유치원 및 초등학교,0.937840,1.000000,0.529852,0.814320,0.639436,0.699912,0.940596
중학교,0.558267,0.529852,1.000000,0.892773,0.327762,0.163621,0.447549
고등학교,0.845245,0.814320,0.892773,1.000000,0.497430,0.392400,0.695296
전문대학,0.476015,0.639436,0.327762,0.497430,1.000000,0.885411,0.718897
대학(교),0.495838,0.699912,0.163621,0.392400,0.885411,1.000000,0.798144
특수학교,0.783947,0.940596,0.447549,0.695296,0.718897,0.798144,1.000000

In [6]:
data_2

    퇴직연금 지급액(천원)  유치원 및 초등학교      중학교     고등학교     전문대학    대학(교)    특수학교
0      632029252     18537.0  20434.0  41344.0  11777.0  37644.5     0.0
1      737736496     20772.5  23514.0  46485.0  11798.5  39954.5     0.0
2      853753320     21489.5  15544.5  35147.5  11193.5  41341.0     0.0
3      963938145     23243.0  16573.5  34942.0  15039.0  51639.5     0.0
4     1073258368     22343.0  16349.5  38859.0  13486.5  45286.0     0.0
5     1211764982     22349.0  19522.5  41388.5  11962.5  36750.0     0.0
6     1360638334     24710.5  20699.5  43584.0   9748.0  36782.0     0.0
7     1518038114     25522.0  20950.5  50881.5  11705.0  37135.0     0.0
8     1729934786     29879.0  31746.0  72993.0  13075.5  38137.0     0.0
9     1884692928     32226.0  19200.5  53358.0  10950.0  35442.0     0.0
10    2043764926     42420.0  22018.0  55724.0  12617.0  46878.5  1621.0
11    2235464787     46671.0  24369.5  67127.5  15672.0  62485.5  2284.0
12    2461850638     52669.0  27314.0  75069.5  16473.0  55777.5  3109.5

In [7]:
# 데이터프레임 설정 x y 설정
X, y = data_2.iloc[:,1:], data_2.iloc[:,0] # X는 1~27행에서 2~6열  Y는 1~27행부터 1열
print(X.shape, y.shape)

(13, 6) (13,)

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
#모델 객체 생성
m_reg = LinearRegression(fit_intercept = True) #fit_intercept -> beta0 생성 여부

#모델 학습
m_reg.fit(X, y) # 선형회귀 분석 툴 생성

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
# b0값
m_reg.intercept_

-439495054.99351406

In [11]:
# x들의 계수
m_reg.coef_

array([  76672.3391989 ,  -27712.62519752,   14546.83963611,
          6486.58455195,   -9816.76687109, -328186.23169951])

In [21]:
# 선형 모델의 절편값 β0 # 추정된 상수항
beta0 = m_reg.intercept_

# 선형 모델의 기울기값 β1 # 추정된 가중치 벡터
beta1 = m_reg.coef_
print('y = {} + {} x1 + {} x2 + {} x3 + {} x4 + {} x5 + {} x6'.format(round(beta0,3), round(beta1[0],3), round(beta1[1],3),\
                                                    round(beta1[2],3), round(beta1[3],3), round(beta1[4],3),round(beta1[5],3)))

y = -439495054.994 + 76672.339 x1 + -27712.625 x2 + 14546.84 x3 + 6486.585 x4 + -9816.767 x5 + -328186.232 x6

In [19]:
beta1[5]

-328186.23169951176

In [23]:
import numpy as np

In [24]:
y_pred = m_reg.predict(X)
print(np.round(list(y_pred),3)) # 27개
print(np.round(m_reg.score(X, y),3))

[7.23770077e+08 8.62064238e+08 9.55433947e+08 9.82219414e+08
 1.02870231e+09 1.05193679e+09 1.21763966e+09 1.38828789e+09
 1.74388353e+09 1.99854401e+09 2.10303313e+09 2.17870466e+09
 2.47264542e+09]
0.972

In [25]:
from sklearn.metrics import r2_score as r2
r2 = np.round(r2(y, y_pred),3)
r2

0.972